$main-bg-color: hsl(200, 50, 25);
$main-fg-color: hsl(200, 20, 100);
$main-bg-color-light: hsl(200, 50, 90);
$light-grey: hsl(200, 0, 95);

html {
  font-size: 15px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif, monospace;
  font-size: 100%;
  text-align: center;
  min-width: 300px;
}

main {
  background-color: $light-grey;
}

h1, article ~ footer {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: $main-bg-color;
  color: $main-fg-color;
}

h1 {
  font-size: 3rem;;
  margin-bottom: 50px;
}

#image {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  max-height: 500px;
  border-radius: 1%;
}

figcaption {
  margin: 1rem;
}

a {
  color: $main-bg-color;
  border-bottom: 1px dashed $main-bg-color;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid $main-bg-color;
}

hr {
  width: 50%;
  margin-bottom: 1rem;
}

.timeline-intro {
  font-size: 1.5rem;
  font-style: bold;
}

article {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ol {
  list-style-type: none;
}

.important-event {
  border: 1px dashed $main-bg-color;
  background-color: $main-bg-color-light;
}

li {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  text-align: left;
}

blockquote {
  margin: 2rem;
  border-radius: 0 10px 10px 0;
  background-color: white;
  width: 50%;
  border-left: 5px solid $main-bg-color;
  padding: 1.5rem;
  font-style: italic;
}

blockquote p::before, blockquote p::after {
  content: "\""
}

@media screen and (max-width: 500px) {
  * {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 2rem;
  }

  .timeline-intro {
    font-size: 1.2rem;
  }
}

.blockquote-footer {
  text-align: right;
}

footer a {
  color: $main-fg-color;
  border-bottom: 1px dashed $main-fg-color;
  text-decoration: none;
}

footer a:hover {
  border-bottom: 1px solid $main-fg-color;
}
